In [1]:
import tarfile 
  
file = tarfile.open('../dados/spotify_million_playlist_dataset_challenge.tar.xz') 
file.extractall('../dados/') 
  
file.close()

In [6]:
from json import load

with open("../dados/spotify_million_playlist_dataset_challenge/challenge_set.json", 'r') as _file:
    dataset_json = load(_file)

dataset_playlists = dataset_json['playlists']

In [7]:
import pandas as pd

pd.DataFrame(dataset_playlists)

,name,num_holdouts,pid,num_tracks,tracks,num_samples
0,spanish playlist,11,1000002,11,[],0
1,Groovin,48,1000003,48,[],0
2,uplift,40,1000004,40,[],0
3,WUBZ,27,1000006,27,[],0
4,new,41,1000007,41,[],0
...,...,...,...,...,...,...
9995,Playlist 2015,20,1006767,21,"[{'pos': 0, 'artist_name': 'El Gran Combo De P...",1
9996,Workout,24,1006771,25,"[{'pos': 0, 'artist_name': '2Pac', 'track_uri'...",1
9997,Girlz,16,1006773,17,"[{'pos': 0, 'artist_name': 'Ashley DuBose', 't...",1
9998,let's get lost,35,1006775,36,"[{'pos': 0, 'artist_name': 'blackbear', 'track...",1
9999,Mama,28,1006778,29,"[{'pos': 0, 'artist_name': 'Jonas Blue', 'trac...",1